<app-header></app-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row [routerLink]="['/videos']">
      <ion-col><ion-img src="assets/img/Img1.png"></ion-img></ion-col>
      <ion-col><ion-img src="assets/img/Img2.png"></ion-img></ion-col>
    </ion-row>

    <ion-row [routerLink]="['/videos']">
      <ion-col><ion-img src="assets/img/Img3.png"></ion-img></ion-col>
      <ion-col><ion-img src="assets/img/Img4.png"></ion-img></ion-col>
    </ion-row>

    <ion-row [routerLink]="['/videos']">
      <ion-col><ion-img src="assets/img/Img5.png"></ion-img></ion-col>
      <ion-col><ion-img src="assets/img/Img6.png"></ion-img></ion-col>
    </ion-row>

    <ion-row [routerLink]="['/videos']">
      <ion-col><ion-img src="assets/img/Img7.png"></ion-img></ion-col>
      <ion-col><ion-img src="assets/img/Img8.png"></ion-img></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Pinche imagen para video</ion-title>
  </ion-toolbar>
</ion-footer>