<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Mapa Interactivo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Venta de Entradas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Venta de entradas y estacionamiento </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Atracciones</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Videos e información de acceso </ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Servicios</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Oficina de emergencia, informaciones, baños </ion-card-content>
  </ion-card>

</ion-content>
